body {
  background-color: #E3E9FA; /* Lavender Blue */\
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.bakgnd-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -100;
}

.container {
  background-color: #FFFFFF;
  border-radius: 12px;
  color: #888;
  margin: 75px auto;
  padding: 0;
  padding-bottom: 10px;
  width: 320px;
}

.hero-img {
  border-radius: 12px 12px 0 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

.title-main {
  color: #333;
}

p {
  padding: 0 35px 0 35px;
}

.planbox {
  background-color: #F3F9FD; /* Lavender Blue */
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 40px;
  margin: 20px auto;
  padding: 20px 10px;
  position: relative;
  width: 275px;
}

.title-sub {
  color: #333;
  font-size: 15px;
}

.iconbox {
  height: 50px;
  margin: 0;
  padding-left: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  grid-column: 1 / 2;
}

.infobox {
  margin: 0;
  padding: 10px 10px 10px 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  grid-column: 2 / 4;
}

.changebox {
  margin: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  grid-column: 4;
}

.change:active {
  color: #8467D7; /*Light Purple*/
  text-decoration: none;
}

.btn {
  background-color: BLUE;
  border-radius: 10px;
  box-shadow: 0 20px 10px #DDDDFF;
  color: white;
  display: block;
  font-weight: bold;
  margin: auto;
  padding: 10px;
  text-decoration: none;
  width: 275px;
}

.payment:active {
  text-decoration: none;
}

.btn:active {
  background-color: #8467D7; /*Light Purple*/
  color: white;
}

.footer {
  padding: 30px;
}

.cancel:active {
  color: #333;
}

.cancel {
  color: #666;
  font-weight: bold;
  text-decoration: none;
}

.attribution {
  padding-bottom: 40px;
}























/* EOF */
